.transformScrollSection {
  background:
    radial-gradient(circle at 10% 50%, rgba(98, 0, 234, 0.2), transparent 40%),
    var(--bg-color);

  height: 300vh;
  position: relative;
 
 
}

.transformStickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.transformScrollText {
  font-family: var(--font-main);
  font-size: clamp(60px, 8vw, 120px);
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
  color: white;
  margin: 0;
}

.titleHighlight {
  color: var(--accent-color);
}
